<phpunit bootstrap="../vendor/autoload.php"
  colors="auto"
  verbose="true"
  >
  <php>
    <var name="DB_DSN" value="mysql:dbname=unit_tests;host=localhost" />
    <var name="DB_DBNAME" value="unit_tests" />
    <var name="DB_USER" value="unit_tests" />
    <var name="DB_PASSWD" value="JdN-^MeE4]7|}vmq" />
  </php>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="html"/>
    <log type="testdox-text" target="php://stdout"/>
  </logging>
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
